<div class="grid_6 push_2">
  <div id="mask">
    <div id="container">
      <div id="first" class="obj" style="background-color:blue;width:300px;"></div>
      <div id="second" class="obj" style="background-color:red;width:20px;"></div>
      <div id="third" class="obj" style="background-color:yellow;width:20px;"></div>
    </div>
  </div>
  <p id="output"></p>
</div>
