<h1>Prices</h1>

<table>
  <tr>
    <th>Service</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Rooms</td>
    <td>$39.99</td>
  </tr>
  <tr>
    <td>Living Rooms</td>
    <td>$79.99</td>
  </tr>
  <tr>
    <td>Stairs</td>
    <td>$49.99</td>
  </tr>
  <tr>
    <td>Hallways</td>
    <td>$29.99</td>
  </tr>
</table>
