<div id="services" >
  <ul class="grid_6"> 
    <li>Area Rug Cleaning for the Oakland</li>
    <li>Oakland Mattress Cleaning</li>
    <li>Oakland Tile & Grout Cleaning</li>
    <li>Oakland Drapery Cleaning</li>
    <li>Oakland Carpet Repair</li>
    <li>Oakland DuPont Teflon® Carpet Protector</li>
  </ul>
  <ul class="grid_6">
    <li>Oakland Pet Stain Removal</li>
    <li>Oakland RV Upholstery Cleaning & Oakland RV Carpet Cleaning</li>
    <li>Oakland Boat Upholstery Cleaning & Oakland Boat Carpet Cleaning</li>
    <li>Oakland Water Damage Restoration</li>
  </ul>
</div>
